body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
  background: url('bg.png') no-repeat;
}

h1, h2, h3 {
  font-weight: 100;
  /*font-weight: lighter;*/
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}

.breadcrumbs a {
  text-decoration: none;
}
